<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="flex justify-center items-center mt-5 min-h-screen bg-gray-100">
    <div class="flex flex-col gap-5 shadow-lg p-10 bg-white rounded">
      <h1 class="text-red-500 text-3xl font-semibold">
        House price prediction
      </h1>

      <form action="/" method="POST" class="flex flex-col gap-5">
        <div class="flex flex-col gap-2">
          <label for="bedrooms"> Bed Rooms:</label>
          <span id="bedrooms"> </span>
          <input
            required
            type="range"
            id="formBedrooms"
            value="0"
            min="1"
            max="50"
            class="border-2 border-solid p-1 rounded"
            placeholder="enter number of bedrooms "
            name="bedrooms"
          />
        </div>

        <div class="flex flex-col gap-2">
          <label for="bathrooms"> Bed Rooms:</label>
          <span id="bathrooms"> </span>
          <input
            required
            type="range"
            id="formbathrooms"
            value="0"
            min="1"
            max="50"
            class="border-2 border-solid p-1 rounded"
            placeholder="enter number of bedrooms "
            name="bathrooms"
          />
        </div>

        <div class="flex flex-col gap-2">
          <label for="sqf"> square foot:</label>
          <span id="sqf"> </span>
          <input
            required
            type="range"
            id="formsqf"
            value="0"
            min="1"
            max="50"
            class="border-2 border-solid p-1 rounded"
            placeholder="enter number of bedrooms "
            name="sqf"
          />
        </div>


        <div class="flex flex-col gap-1">
            <label>location</label>
            <select name="location" class="p-1 rounded ">
                {% for i in location_mapping %}
                <option value="{{location_mapping[i]}}">{{i}}</option>
                {% endfor %}
            </select>
        </div>

        <div class="flex flex-col gap-1">
            <label>direction</label>
            <select name="direction" class="p-1 rounded ">
                {% for i in direction_mapping %}
                <option   value="{{direction_mapping[i]}}">{{i}}</option>
                {% endfor %}
            </select>
        </div>

        <div class="flex flex-col gap-1">
            <label>status</label>
            <select name="status" class="p-1 rounded ">
                {% for i in status_mapping %}
                <option  value="{{status_mapping[i]}}">{{i}}</option>
                {% endfor %}
            </select>
        </div>

        <div class="flex flex-col gap-1">
            <label>property type</label>
            <select name="property type" class="p-1 rounded ">
                {% for i in property_type_mapping %}
                <option value="{{property_type_mapping[i]}}">{{i}}</option>
                {% endfor %}
            </select>
        </div>
        <div>
          <button
            type="submit"
            class="border-2 bg-blue-500 rounded-full py-2 w-full px-2 hover:bg-blue-700 text-white font-semibold"
          >
            Submit
          </button>
        </div>
      </form>


      {% if  prediction is defined%}

        <div>
          <label class="text-red-300"> prediction : {{prediction}}</label>
        </div>
      {% endif%}
    </div>

    <script>
      document.addEventListener("DOMContentLoaded", () => {
        document.querySelector("#bedrooms").innerHTML =
          document.querySelector("#formBedrooms").value || "0";
        document
          .querySelector("#formBedrooms")
          .addEventListener("change", () => {
            document.querySelector("#bedrooms").innerHTML =
              document.querySelector("#formBedrooms").value;
          });
        document.querySelector("#bathrooms").innerHTML =
          document.querySelector("#formbathrooms").value || "0";

        document
          .querySelector("#formbathrooms")
          .addEventListener("change", () => {
            document.querySelector("#bathrooms").innerHTML =
              document.querySelector("#formbathrooms").value;
          });

          document.querySelector("#sqf").innerHTML =
        document.querySelector("#formsqf").value || "0";

      document.querySelector("#formsqf").addEventListener("change", () => {
        document.querySelector("#sqf").innerHTML =
          document.querySelector("#formsqf").value;
      });
      });

     

   
    </script>
  </body>
</html>
